[workspace]
members = ["crates/crosswordsolver-jw", "crates/wordnet-db", "crates/wordnet-morphy", "crates/wordnet-types", "xtask"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
