# fly.toml app configuration file generated for crosswordsolver-jw on 2025-12-31T20:39:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'crosswordsolver-jw'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '10s'
    method = 'get'
    path = '/healthz'

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
