[package]
name = "xtask"
version = "0.0.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
cargo_metadata = "0.18"
semver = "1"
serde_json = "1"
toml_edit = "0.22"
